html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --fontstack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --light-gray: #f6f6f6;
}

body {
    font-family: var(--fontstack);
    font-size: 18px;
    height: 100vh;
    display: flex;
}

.img-container {
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    height: 100%;
    flex: 1 1 0;
}

.header-container {
    background-color: rgba(0, 0, 0, .35);
    height: 20%;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    height: 80%;
    width: auto;
    flex: 0 1 auto;
}

.header-title {
    font-family: norse-bold;
    font-size: 5rem;
    color: white;
    flex: 0 1 auto;
}

main {
    flex: 2 1 0;
}

.content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-section {
    flex: 1 1 auto;
}

.section-1,
.section-3 {
    background-color: var(--light-gray);
}

.section-1{

}

span {
    font-style: italic;
}

.setion-2 {

}