html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --fontstack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bg-light-gray: #f8f8f8;
    --border-light-gray: #E5E7EB;
    --button-green: #596D48;
}

body {
    font-family: var(--fontstack);
    font-size: 18px;
    height: 100vh;
    display: flex;
}

.img-container {
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    height: 100%;
    flex: 1 1 0;
}

.header-container {
    background-color: rgba(0, 0, 0, .35);
    height: 20%;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    height: 80%;
    width: auto;
    flex: 0 1 auto;
}

.header-title {
    font-family: norse-bold;
    font-size: 5rem;
    color: white;
    flex: 0 1 auto;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
}

.main-section {
    flex: 1 1 0;
}

.section-1,
.section-3 {
    background-color: var(--bg-light-gray);
}

.section-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.para-container {
    margin-bottom: 40px;
    margin-left: 50px;
    flex: 0 1 auto;
}

.para-container p{
    width: 700px;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 20px;
}

span {
    font-style: italic;
}

.section-2 {
    box-shadow: 3px 5px 10px lightgray, 0px 0px 3px lightgray;
    margin-bottom: 10px;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section-2 h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
}

.form-row {
    width: 80%;
    margin-left: 50px;
    display: flex;
    flex: 1 1 auto;
}

.form-control {
    width: 275px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

label {
    font-size: .9rem;
}

input {
    border: 1px solid var(--border-light-gray);
    border-radius: 5px;
    height: 30px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 2px 2px 5px lightgray;
}

.error {
    outline: none;
    border: 1px solid red;
    box-shadow: 2px 2px 5px red;
}

.section-3 button{
    margin-top: 20px;
    background-color: var(--button-green);
}